body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
            background-color: #f4f4f4;
        }
        .camera-section {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            max-width: 800px;
            margin: 40px auto;
        }

        #simuladorArea{
            position: relative;
            width: 640px;
            height: 480px;
            margin: 20px auto;
            border: 1px solid #333;
            overflow: hidden;
        }

        #liveCameraFeed{
            width: 100%;
            height: 100%;
        }
        /*estilo para la lampara que se insertara con js*/

        .lampara-superpuesta{
            position:absolute;
            width: 150px;
            height: auto;
            cursor:grab;
            z-index: 10;
        }